<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>931066564993-dvg78os1057rvhipvbma28osubtg3d3t.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.931066564993-dvg78os1057rvhipvbma28osubtg3d3t</string>
	<key>API_KEY</key>
	<string>AIzaSyBoykh_lIRhRCas7lMkLUPCY13hrFZD7Go</string>
	<key>GCM_SENDER_ID</key>
	<string>931066564993</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ahemadabbas.ShoppingApp</string>
	<key>PROJECT_ID</key>
	<string>shopingmarketios</string>
	<key>STORAGE_BUCKET</key>
	<string>shopingmarketios.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:931066564993:ios:a47944ac11cdb9f0bf1880</string>
	<key>DATABASE_URL</key>
	<string>https://shopingmarketios.firebaseio.com</string>
</dict>
</plist>